*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  background: transparent;
  background-color:rgb(34, 31, 31);
  font-family:initial;
}

.content{
  height: 100vh;
  width: 100vh;
  padding: 2rem;
  font-size: 3rem;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.img1{
   
  max-width: 30%;
  margin-bottom: 1rem;
  border-radius: 20%;
}

.CPE499{
  font-size: 2rem;
  font-weight: 500;
  color: white;
}

.ra{
  font-size: 5rem;
  font-weight: 500;
  color: yellow;
}

.name{
  font-weight: 1000;
  color: white;
}

.eng{
  font-weight: 500;
  color: white;
}
